@import '../../../../styles/mixins/mixin';
$url-icons :'./img/icons/';

.delivery-methods {

  &__block {
    width: 49%;
    margin-top: 1.5625rem;
    @include media-breakpoint-up(sm){
      width: 100%;
    }
  }
  &__image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  &__list {
    margin-top: 10px;
  }
  &__list-item {
    padding: 5px 0;
    @include before-svg-icon(25px, check);

    &:before {
      width: 15px;
      height: 14px;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
    }

  }
  &__text {
    margin-top: 10px;
  }
}