@import '../styles/mixins/mixin';


.content-container{
  max-width: 1440px;
  padding: 0 4.5rem;
  margin: 0 auto;
  @include media-breakpoint-up(sm){
    max-width: 90%;
    padding: 0;
  }
  @include media-breakpoint-up(xs){
    max-width: 95%;
  }
}
.page{
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  @include media-breakpoint-up(xs){
    padding-top: 1.5rem;

  }
}
//icons
.icon{
  display: inline-block;
}
.icon--user {
  @include before-svg-icon(1.2rem, user);
  &:before {
    height: 16px;
    width: 14px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}
.icon--search {
  @include before-svg-icon(16px, search);
  &:before {
    height: 16px;
    width: 16px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}
.icon--logo {
  @include before-svg-icon(84px, logo);
  &:before {
    height: 20px;
    width: 84px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}
.icon--heart {
  @include before-svg-icon(15px, heart);
  &:before {
    height: 14px;
    width: 15px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}
.icon--cart {
  @include before-svg-icon(18px, cart);
  &:before {
    height: 16px;
    width: 18px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}

.icon--fb {
  @include before-svg-icon(9px, soc-fb);
  &:before {
    height: 16px;
    width: 9px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--inst{
  @include before-svg-icon(18px, soc-inst);
  &:before {
    height: 18px;
    width: 18px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--google {
  @include before-svg-icon(28px, soc-gl);
  &:before {
    height: 16px;
    width: 28px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--yt {
  @include before-svg-icon(23px,  soc-yt);
  &:before {
    height: 16px;
    width: 23px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--master {
  @include before-svg-icon(28px, pay-mastercard);
  &:before {
    height: 18px;
    width: 27px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--visa {
  @include before-svg-icon(48px, pay-visa);
  &:before {
    height: 15px;
    width: 47px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }
}

.icon--mir {
  @include before-svg-icon(57px, pay-mir);
  &:before {
    height: 16px;
    width: 57px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

  }

}
.icon--icon-1 {
  @include before-svg-icon(0, icon-1);
  padding-top: 73px;
  &:before {
    width: 62px;
    height: 73px;
    top: 0;;
    transform: translate(-50%, 0%);
    left: 50%;
    background-position: bottom;

  }

}
.icon--icon-2 {
  @include before-svg-icon(0, icon-2);
  padding-top: 73px;
  &:before {
    width: 60px;
    height: 73px;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    background-position: bottom;

  }

}
.icon--icon-3 {
  padding-top: 73px;
  @include before-svg-icon(0, icon-3);
  &:before {
    width: 62px;
    height: 73px;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    background-position: bottom;

  }

}
.icon--icon-4 {
  padding-top: 73px;
  @include before-svg-icon(0, icon-4);
  &:before {
    width: 57px;
    height: 73px;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
    background-position: bottom;

  }

}
