@import '../../../styles/mixins/mixin';


.section__delivery-search {
  background: $element-bg-color;
  padding: 1.5625rem 0;
  &__blcok {
    width: 40%;
  }
}

.delivery-search {
  background: $element-bg-color;
  padding: 25px 0;
  &__block {
    width: 32%;
    padding-right: 10px;
    &:last-child {
      width: auto;
      margin-left: -5px;
    }
    @include media-breakpoint-up(xs){
      width: auto;
      padding-right:0;

    }
  }

}
