@import '../../../styles/mixins/mixin';
$url-icons:  "../../../img/icons/";


.header-menu {
  &__navigation {
    margin: auto 2.5rem;
    &_category {
      display: inline-block;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      &:before {
        @include pseudo(initial, 0, 0, 2px, block);
        background-color: $black;
        transition: width 0.2s ease-in;
        bottom: -3px;
      }
      &:hover{
        &:before {
          width: 100%;
        }
      }

    }


  }

  &__logo {
    display: block;
    width: 120px;
    height: 29px;
    @include svg-icon(logo);
    margin: auto auto auto 0;

  }

  &__search {
    flex-grow: 2;
    input.header-menu__search-input {
      padding-left: 58px;
      background-color: $element-bg-color !important;
      border: none;
      &::placeholder {
        font-size: $fz-sm;
        text-transform: uppercase;
      }

    }
    &.icon--search {
      @include before-svg-icon(0, search);
      &:before {
        height: 16px;
        width: 16px;
        top: 50%;
        transform: translate(0, -50%);
        left: 28px;

      }

    }

  }

  &__login {
    cursor: pointer;
    margin: auto 0 auto 3.75rem;
  }
}