@import '../../../styles/mixins/mixin';



.section__delivery-partners {
  padding-top:3.75rem;
  border-top: 1px solid $element-bg-color;
  @include media-breakpoint-up(xs){
    padding-top:2rem;

  }

}

